language: scala
jdk: oraclejdk8
script: sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues test

scala:
   - 2.10.6
   - 2.11.11
   - 2.12.2
   - 2.13.0-M1

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
